@use 'variables' as v;
@use 'typography' as t;

@mixin button-red {
    @include t.h5-style();

    color: v.$white;
    background-color: v.$red;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border: none;

    &:hover {
        box-shadow: 0px 10px 20px rgba(255, 45, 35, 0.3);
    }
}

.btn-red {
    @include button-red();
}