@import 'variables.scss';

body {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 604px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $standart-screen) {
        max-width: 996px;
    }
    @media (min-width: $widescreen) {
        max-width: 1220px;
    }
}

.col-50 {
    width: 100%;

    @media (min-width: $standart-screen) {
        width: 50%
    }
}