@use 'container' as c;
@use 'variables' as v;

footer {
    @include c.container();
    display: flex;
    flex-direction: column;
    border-top: 1px solid transparentize(v.$gray-light, 0.8);
    padding-top: 24px;
    padding-bottom: 43px;
    padding-right: 20px;
    padding-left: 20px;
    gap: 18px;

    @media (min-width: v.$mobile) {
        flex-direction: row;
        padding-right: 0;
        padding-left: 0;
        gap: 0;
    }

    .adress {
        width: 100%;
    }
    .phone {
        width: 100%;
        text-align: left;

        @media (min-width: v.$mobile) {
            text-align: center;
        }
    }
    .email {
        width: 100%;
        text-align: left;

        @media (min-width: v.$mobile) {
            text-align: right;
        }

        a {
            color: v.$red;
            text-decoration: none;
            border-bottom: 1px solid v.$red;
            padding-bottom: 2px;
        }
    }
}