@import 'variables.scss';

.h1 {
    font-family: sans-serif, Formular;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;

    @media (min-width: $widescreen) {
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;
    }
}