@use 'variables' as v;
@use 'container';

.map-block {
    @include container.container();
    margin-top: 100px;

    .map-mobile {
        @media (min-width: v.$standart-screen) {
            display: none;
        }

    }
    .map-standart {
        @media (max-width: (v.$standart-screen - 1px)) {
            display: none;
        }
        @media (min-width: v.$widescreen) {
            display: none;
        }
    }
    .map-widescreen {
        @media (max-width: (v.$widescreen - 1px)) {
            display: none;
        }
    }
}