@use 'variables' as v;

.rating {
    position: absolute;
    bottom: 20px;
    left: 10px;

    .star {
        background-image: url('../images/star.svg');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        width: 22px;
        height: 22px;

        &.red{
            background-image: url('../images/star-red.svg');
        }
    }
}