@use 'container';
@use 'variables' as v;

.slider-block {
    @include container.container();
    margin-top: 70px;
    margin-bottom: 70px;

    @media (min-width: v.$standart-screen) {
        margin-bottom: 120px;
    }

    &__header {
        text-align: center;
        margin-bottom: 30px;
    }

    &__slider {

        .splide__slide {
            background-size: cover;
            background-repeat: no-repeat;
        }

        .splide__arrow {
            width: 50px;
            height: 50px;
            opacity: 1;
            background: v.$white;
            box-shadow: 0px 4px 20px rgba(143, 149, 172, 0.2);

            svg {
                width: 10px;
                fill: v.$black-light;
            }

            &--prev {
                left: -25px;
            }
            &--next {
                right: -25px;
            }
        }

        .splide__pagination {
            bottom: -45px;

            &__page {
                height: 7px;
                background: transparentize(v.$gray-light, 0.7);

                &.is-active {
                    transform: none;
                    background: v.$red;
                }
            }
        }
    }
}
