@use 'variables' as v;
@use 'container';

.text-block {
    @include container.container();
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    @media (min-width: v.$mobile) {
        gap: 62px;
        flex-direction: row;
        padding: 0;
    }

    @media (min-width: v.$standart-screen) {
        gap: 0;
    }

    &__column {
        width: 100%;

        &.left {

            @media (min-width: v.$standart-screen) {
                padding-right: 100px;
            }
        }
    }

}