@import 'container.scss';
@import 'buttons.scss';

.text-block {
    @include container();
    display: flex;

    &__column {
        width: 100%;

        &.left {
            padding-right: 100px;
        }
    }

}